.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav li {
  margin: 20px;
  list-style: none;
}

.project1 {
  background: url(./assets/images/parkour.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}

.project2 {
  background: url(./assets/images/techblog.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project3 {
  background: url(./assets/images/marvelproject.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project4 {
  background: url(./assets/images/notetaker.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project5 {
  background: url(./assets/images/workday.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project6 {
  background: url(./assets/images/social-network-api.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}