.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav li {
  margin: 20px;
  list-style: none;
}

.project1 {
  background: url(./assets/images/project4.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}

.project2 {
  background: url(./assets/images/project4.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project3 {
  background: url(./assets/images/project4.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project4 {
  background: url(./assets/images/project4.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project5 {
  background: url(./assets/images/project4.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}
.project6 {
  background: url(./assets/images/project4.jpg);
  background-size: cover;
  width: 300px;
  height: 100px;
}